################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*
!*/
!.gitignore
!.cpp
!.h
!.png
!.wav
!.mid
!.ttf
!.tsx
!.tmx
/SDLEngine/Debug/Trap.obj
/SDLEngine/Debug/TMXTileSet.obj
/SDLEngine/Debug/TMXObjectGroup.obj
/SDLEngine/Debug/TMXObject.obj
/SDLEngine/Debug/TMXMap.obj
/SDLEngine/Debug/TMXLayer.obj
/SDLEngine/Debug/tinyxml2.obj
/SDLEngine/Debug/TileMap.obj
/SDLEngine/Debug/PlayState.obj
/SDLEngine/Debug/Player.obj
/SDLEngine/Debug/Entities.obj
/SDLEngine/Debug/Enemy.obj
.obj
/SDLEngine/Debug
/SDLEngine/Debug/Ghost.obj
*.obj
/SDLEngine/Debug/SDLEngine.Build.CppClean.log
/SDLEngine/Thumbs.db
/SDLEngine/Debug/SDLEngine.tlog/unsuccessfulbuild
/SDLEngine/Debug/SDLEngine.tlog/link-rc.write.1.tlog
/SDLEngine/Debug/SDLEngine.tlog/link-rc.read.1.tlog
/SDLEngine/Debug/SDLEngine.tlog/link-cvtres.write.1.tlog
/SDLEngine/Debug/SDLEngine.tlog/link-cvtres.read.1.tlog
/SDLEngine/Debug/SDLEngine.tlog
/SDLEngine/assets/textures/Thumbs.db
*.enc
/SDLEngine/Release/vc140.pdb
/SDLEngine/Release/SDLEngine.tlog/SDLEngine.lastbuildstate
/SDLEngine/Release/SDLEngine.tlog/link.write.1.tlog
/SDLEngine/Release/SDLEngine.tlog/link.read.1.tlog
/SDLEngine/Release/SDLEngine.tlog/link.command.1.tlog
/SDLEngine/Release/SDLEngine.tlog/CL.write.1.tlog
/SDLEngine/Release/SDLEngine.tlog/CL.read.1.tlog
/SDLEngine/Release/SDLEngine.tlog/CL.command.1.tlog
/SDLEngine/Release/SDLEngine.log
/SDLEngine/Release/SDLEngine.Build.CppClean.log
/Release/SDLEngine.pdb
/Release/SDLEngine.ipdb
/Release/SDLEngine.iobj
/Release/SDLEngine.exe
