################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDLEngine.VC.VC.opendb
/SDLEngine.VC.db
*.obj
/SDLEngine/Debug/player.obj.enc
